.price {
    background: var(--gray-back);
    padding: 30px 0;

    .container {
        .w-100 {
            .price-tit-para {
                float: left;
                width: 100%;

                .tit {

                    padding-bottom: 20px;
                    text-align: center;

                    h1 {
                        font-size: 30px;
                        color: var(--font-drkblue);
                        font-weight: 900;

                    }
                }

                .para {
                    font-size: 15px;
                    text-align: center;
                    padding-bottom: 20px;
                }
            }
        }

        .w-100 {
            .w-30 {
                float: left;
                width: 33.33%;

                .price-card {
                    background: var(--white-back);
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                    margin: 20px;
                    padding: 20px;

                    .plan-name {
                        margin-bottom: 10px;
                        font-size: 20px;
                        color: var(--font-drkblue);
                    }

                    .plan-charg {
                        font-size: 30px;
                        color: var(--font-blue);
                        padding-bottom: 15px;

                        sup {
                            font-size: 20px;
                        }

                        sub {
                            font-size: 15px;
                            color: var(--font-color-gray);
                        }
                    }

                    .benifits {
                        li {
                            padding-bottom: 10px;
                        }
                    }

                    button {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .price {
        .container {
            width: 98%;

            .w-100 {
                .price-tit-para {
                    width: 100%;

                    .tit {
                        padding-bottom: 10px;

                        h1 {
                            font-size: 20px;
                        }
                    }

                    .para {
                        font-size: 15px;
                        padding-bottom: 10px;
                    }
                }
            }

            .w-100 {
                justify-content: center;
                .w-30 {
                    width: 50%;
                    .price-card {
                        margin: 5px;
                        padding: 10px;
                        button{
                            margin: 0;
                        }
                        .benifits{
                            li{
                                font-size: 13px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .price {
        .container {
            width: 98%;

            .w-100 {
                .price-tit-para {
                    width: 100%;

                    .tit {
                        padding-bottom: 10px;

                        h1 {
                            font-size: 20px;
                        }
                    }

                    .para {
                        font-size: 15px;
                        padding-bottom: 10px;
                    }
                }
            }

            .w-100 {
                justify-content: center;
                .w-30 {
                    width: 33.33%;
                    .price-card {
                        margin: 5px;
                        padding: 10px;
                        button{
                            margin: 0;
                        }
                        .benifits{
                            li{
                                font-size: 13px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .price {
        .container {
            width: 98%;

            .w-100 {
                .price-tit-para {
                    width: 100%;

                    .tit {
                        padding-bottom: 10px;

                        h1 {
                            font-size: 20px;
                        }
                    }

                    .para {
                        font-size: 15px;
                        padding-bottom: 10px;
                    }
                }
            }

            .w-100 {
                justify-content: center;
                .w-30 {
                    width: 33.33%;
                    .price-card {
                        margin: 5px;
                        padding: 10px;
                        button{
                            margin: 0;
                        }
                        .benifits{
                            li{
                                font-size: 13px;
                                padding-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    /* Styles for medium laptops */
}

@media (min-width: 1281px) and (max-width: 1440px) {
    /* Styles for large laptops */
}

@media (min-width: 1441px) and (max-width: 1920px) {
    /* Styles for large desktops */
}

@media (min-width: 1921px) {
    /* Styles for 4K and ultra-wide screens */
}