.skill {
    .container {
        .w-100 {
            .w-50 {
                float: left;
                width: 50%;

                .skill-left {
                    img {
                        width: 100%;
                    }
                }
            }

            .w-50 {
                float: left;
                width: 50%;

                .skill-right {
                    padding: 0 50px;

                    .title {
                        color: var(--font-drkblue);
                        padding-bottom: 10px;
                    }

                    .para {
                        font-size: 15px;
                        padding-bottom: 10px;
                    }

                    .language {
                        padding-bottom: 10px;

                        .lang-upper {
                            display: flex;
                            justify-content: space-between;
                        }

                        progress {
                            width: 100%;

                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .spacer {
        padding: 10px !important;
    }

    .skill{
        display: flex;
      

        .container {
            width: 98% !important;

            .w-100 {
                flex-wrap: wrap-reverse;
                .w-50 {
                    width: 100%;
                }

                .w-50 {
                    width: 100%;

                    .skill-right {
                        padding: 0;
                        .title {
                            font-size: 20px;
                        }

                        .para {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .spacer {
        padding: 10px !important;
    }

    .skill{
        display: flex;
      

        .container {
            width: 98% !important;

            .w-100 {
                flex-wrap: wrap-reverse;
                .w-50 {
                    width: 100%;
                    .skill-left{
                        text-align: center;
                        img{
                            width: 50%;
                        }
                    }
                }

                .w-50 {
                    width: 100%;

                    .skill-right {
                        padding: 0;
                        .title {
                            font-size: 20px;
                        }

                        .para {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .spacer {
        padding: 10px !important;
    }

    .skill{
        display: flex;
      

        .container {
            width: 98% !important;

            .w-100 {
                flex-wrap: wrap-reverse;
                .w-50 {
                    width: 100%;
                    .skill-left{
                        text-align: center;
                        img{
                            width: 60%;
                        }
                    }
                }

                .w-50 {
                    width: 100%;

                    .skill-right {
                        padding: 0;
                        .title {
                            font-size: 20px;
                        }

                        .para {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    /* Styles for medium laptops */
}

@media (min-width: 1281px) and (max-width: 1440px) {
    /* Styles for large laptops */
}

@media (min-width: 1441px) and (max-width: 1920px) {
    /* Styles for large desktops */
}

@media (min-width: 1921px) {
    /* Styles for 4K and ultra-wide screens */
}